body,h1,h2,h3,h4,h5,h6,span,a,p{
    font-family: 'Spartan', sans-serif;
    text-transform: capitalize;
}
img{
    max-width: 100%;
}
.company-logo img{
    padding: 30px;
    filter: contrast(0);
    transition: .4s;
}
.company-logo img:hover{
    filter: contrast(1);
}

.company-content-left h6 {
	color: rgb(55,99,235);
}
.company-content-left h1 {
	font-weight: 600;
	margin: 25px 0px;
	position: relative;
}
.company-content-left h1::after {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 2px;
	width: 70px;
	background: rgb(55,99,235);
	content: "";
}
.company-content-left p {
	margin-top: 40px;
}
.blog-top{}
.blog-top h6{
    color: rgb(55,99,235);
}
.blog-top h1{
    font-weight: 600;
	margin: 25px 0px;
	position: relative;
}
.blog-top h1::after {
	position: absolute;
	left: 378px;
	bottom: -20px;
	height: 2px;
	width: 70px;
	background: rgb(55,99,235);
	content: "";
}
.blog-top p{
    margin-top: 40px;
}

.blog-content{}
.blog-content h4 {
	font-weight: 600;
	margin: 25px 0px;
	font-size: 25px;
}
.blog-content p {
	font-size: 15px;
	color: #606060;
}
.blog-img{
    position: relative;
}
.blog-inner {
	background: rgb(55,99,235);
	color: white;
	width: 180px;
	border-radius: 30px;
	padding: 0px 5px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.blog-inner img{
    width: 40px;
    height: 40px;
    border-radius:50%;
}
.blog-inner p {
	margin-top: 15px;
	font-size: 13px;
	font-weight: 500;
}
/* footer css  */
.footer-section{
    background-color: #111;
    border-bottom: 1px solid #606060;
}
.footer-widget img{
    width: 150px;

}
.footer-widget h4 {
	border: ;
	border-left: 3px solid rgb(55,99,235);
	padding: ;
	padding-left: 13px;
    font-size: 20px;
}
.footer-widget p {
	color: white;
	margin: 30px 0px;
}

.footer-widget{}
.footer-widget ul {
	padding-left: 0;
	list-style: none;
}
.footer-widget ul li {	
}
.footer-widget ul li a span {
	color: white;
	font-size: 20px;
	padding: 0px 13px;
    display: inline-block;
}
.footer-widget ul li a {
	color: white;
	text-decoration: none;
	font-size: 14px;
	margin-top: 10px;
	display: inline-block;
}
.footer-bottom{
    background-color: #111;
    /* border-top: 1px solid #ddd; */
}
.footer-bottom p {
	margin-bottom: 0;
    color: white;
	padding: 30px 0px;
    font-size: 15px;
}